# .gitignore file Oliver's iOS projects

# macOS specific
.DS_Store

# Managed by bundler
vendor/bundle/

# Xcode user
xcuserdata
*.xcuserstate

# Xcode shared (but unwanted)
*.xcscmblueprint
*.xccheckout

# Xcode build output
/DerivedData
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build scripts output
/bin
/dist
.ldid.*

# Sentry
.sentryclirc
