Package: com.mologie.NXBoot
Name: NXBoot
Depends: firmware(>=10.0)
Version: PLACEHOLDER
Architecture: iphoneos-arm
Maintainer: Oliver Kuckertz <oliver.kuckertz+nxboot@mologie.de>
Author: Oliver Kuckertz <oliver.kuckertz+nxboot@mologie.de>
Section: Utilities
Description: Starts custom firmware on the Nintendo Switch through the Fusée Gelée hardware exploit. Booting Coreboot/Linux is supported. Beware of Nintendo's banhammer!
Homepage: https://mologie.github.io/nxboot/
Icon: file:///Applications/NXBoot.app/PackageIcon.png
