Package: com.mologie.NXBoot
Name: NXBoot
Version: X.Y.Z
Architecture: iphoneos-arm
Maintainer: Oliver Kuckertz <oliver.kuckertz@mologie.de>
Author: Oliver Kuckertz <oliver.kuckertz@mologie.de>
Section: Utilities
Description: Starts custom firmware on the Nintendo Switch through the Fusée Gelée hardware exploit. Booting Coreboot/Linux is supported. Beware of Nintendo's banhammer!
Homepage: https://mologie.github.io/nxboot/
Icon: file:///Applications/NXBoot.app/PackageIcon.png
