Package: com.mologie.NXBoot
Name: NXBoot
Depends: firmware(>=9.0), shell-cmds
Version: PLACEHOLDER
Architecture: iphoneos-arm
Maintainer: Oliver Kuckertz <oliver.kuckertz+nxboot@mologie.de>
Author: Oliver Kuckertz <oliver.kuckertz+nxboot@mologie.de>
Section: Utilities
Description: Nintendo Switch Tegra X1 RCM exploit (Fusée Gelée / ShofEL2)
Depiction: https://mologie.github.io/nxboot/cydia-depiction.html
Homepage: https://mologie.github.io/nxboot/
Icon: file:///Applications/NXBoot.app/PackageIcon.png
